.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: "";
  justify-content: "";
  font-size: 14px;
}
.App .navbar, .App .appBody, .App .detailPage {
  padding: 2rem 5rem;
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .navbar, .App .appBody, .App .detailPage {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .navbar, .App .appBody, .App .detailPage {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .App .navbar, .App .appBody, .App .detailPage {
    padding: 1rem 1rem;
  }
}
.App .navbar {
  height: 10vh;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .navbar h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .App .navbar h1 {
    font-size: 18px;
  }
}
.App .navbar .themeButton {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: "";
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
}
.App .navbar .themeButton span {
  margin-left: 8px;
}
.App .navbar .themeButton:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
}
.App .appBody {
  display: flex;
  flex-direction: column;
  align-items: "";
  justify-content: "";
  height: 90vh;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.App .appBody .menu {
  opacity: 0;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: "";
  }
}
.App .appBody .menu .searchBox, .App .appBody .menu .filter {
  padding: 1rem 2rem;
}
.App .appBody .menu .searchBox {
  width: 500px;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: "";
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .menu .searchBox {
    width: 350px;
  }
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu .searchBox {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.App .appBody .menu .searchBox input {
  flex: 1;
  margin-left: 8px;
  color: inherit;
}
.App .appBody .menu .searchBox .searchLoad, .App .appBody .menu .searchBox .searchIcon {
  position: relative;
  width: 1rem;
  height: 1rem;
}
.App .appBody .menu .searchBox .searchLoad svg {
  -webkit-animation-name: rotateIcon;
          animation-name: rotateIcon;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.App .appBody .menu .filter {
  width: 200px;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu .filter {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.App .appBody .flags {
  display: grid;
  overflow-y: auto;
  flex: 1;
  overflow-x: hidden;
  grid-auto-flow: row;
  margin-top: 2rem;
  box-sizing: border-box;
}
@media only screen and (min-width: 960px) {
  .App .appBody .flags {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 3rem 2rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .flags {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .appBody .flags {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 3rem 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .App .appBody .flags {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 4rem 5rem;
  }
}
@media only screen and (max-width: 480px) {
  .App .appBody .flags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: "";
  }
}
.App .appBody .flags .flag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: "";
  min-width: 200px;
  max-width: 300px;
  opacity: 0;
  padding-bottom: 2rem;
}
.App .appBody .flags .flag:hover, .App .appBody .flags .flag:active {
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .App .appBody .flags .flag {
    min-width: 90vw;
    max-width: 90vw;
    margin-bottom: 1rem;
  }
}
.App .appBody .flags .flag img, .App .appBody .flags .flag .dummyImg {
  width: 100%;
  height: 210px;
  border-radius: 0.3rem 0.3rem 0 0;
  -o-object-fit: fill;
     object-fit: fill;
}
@media only screen and (min-width: 960px) {
  .App .appBody .flags .flag img, .App .appBody .flags .flag .dummyImg {
    height: 175px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .flags .flag img, .App .appBody .flags .flag .dummyImg {
    height: 150px;
  }
}
.App .appBody .flags .flag .flagName {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1rem 1rem;
}
.App .appBody .flags .flag .flagData {
  margin: 0 1rem 0.5rem 1rem;
}
.App .appBody .flags .flag .flagData .flagDataInfo {
  font-weight: lighter;
}
.App .appBody .detailPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  -webkit-animation-name: slideFront;
          animation-name: slideFront;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.App .appBody .detailPage .detailPageButton {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.App .appBody .detailPage .detailPageMenu {
  display: flex;
  flex-direction: "";
  align-items: "";
  justify-content: flex-start;
}
.App .appBody .detailPage .detailPageMenu div {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: "";
  margin-bottom: 4rem;
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .detailPage .detailPageMenu div {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .appBody .detailPage .detailPageMenu div {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .App .appBody .detailPage .detailPageMenu div {
    margin-bottom: 2rem;
  }
}
.App .appBody .detailPage .detailPageMenu div span {
  margin-left: 8px;
}
.App .appBody .detailPage .detailPageContent {
  width: 100%;
}
.App .appBody .detailPage .detailPageContent img {
  width: 100%;
  max-width: 550px;
  display: block;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
}
@media only screen and (min-width: 960px) {
  .App .appBody .detailPage .detailPageContent {
    display: flex;
    flex-direction: "";
    align-items: center;
    justify-content: space-between;
  }
  .App .appBody .detailPage .detailPageContent img {
    max-width: 50%;
  }
  .App .appBody .detailPage .detailPageContent .countryDetails {
    width: 50%;
  }
}
@media only screen and (max-width: 960px) {
  .App .appBody .detailPage .detailPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: "";
  }
  .App .appBody .detailPage .detailPageContent img {
    width: 100%;
  }
  .App .appBody .detailPage .detailPageContent .countryDetails {
    width: 100%;
  }
}
.App .appBody .detailPage .detailPageContent .countryDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 550px;
  padding: 1rem;
}
@media only screen and (min-width: 960px) {
  .App .appBody .detailPage .detailPageContent .countryDetails {
    max-width: 45%;
  }
}
@media only screen and (min-width: 720px) {
  .App .appBody .detailPage .detailPageContent .countryDetails {
    height: 350px;
  }
}
@media only screen and (min-width: 720px) {
  .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main {
    display: flex;
    flex-direction: "";
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 720px) {
  .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: "";
  }
}
.App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv {
  line-height: 200%;
  width: 100%;
  display: flex;
  flex-direction: "";
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv {
    width: 80%;
  }
}
.App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-a, .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-b, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-a, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: "";
}
@media only screen and (max-width: 720px) {
  .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-a, .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-b, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-a, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-b {
    margin-bottom: 1rem;
  }
}
.App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-a .detailKey, .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-b .detailKey, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-a .detailKey, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-b .detailKey {
  margin-right: 4px;
}
.App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-a .detailValue, .App .appBody .detailPage .detailPageContent .countryDetails .countryDetails-main .countryDetails-b .detailValue, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-a .detailValue, .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .countryDetails-b .detailValue {
  font-weight: lighter;
}
.App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}
@media only screen and (max-width: 960px) {
  .App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv {
    flex-direction: column;
    align-items: flex-start;
  }
}
.App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .detailKey {
  margin-right: 8px;
}
.App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .borderButtonsDiv {
  font-size: 10px;
  display: flex;
  flex-direction: "";
  align-items: "";
  justify-content: "";
  flex-wrap: wrap;
}
.App .appBody .detailPage .detailPageContent .countryDetails .bordersDiv .borderButtonsDiv .borderButton {
  padding: 0.5rem;
  min-width: 80px;
  max-height: 30px;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
  margin: 4px;
}
.App .appBody .filterOptionDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.App .appBody .filterOptionDiv .dropDown {
  width: 200px;
  position: absolute;
  top: 5.5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: "";
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .filterOptionDiv .dropDown {
    right: 4rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .appBody .filterOptionDiv .dropDown {
    right: 2rem;
    left: 2rem;
    width: auto;
    top: calc(10vh + 2rem + 1rem + 1rem + 0.5rem);
  }
}
@media only screen and (max-width: 480px) {
  .App .appBody .filterOptionDiv .dropDown {
    right: 1rem;
    left: 1rem;
    width: auto;
    top: calc(10vh + 2rem + 1rem + 1rem + 0.5rem);
  }
}
.App .appBody .filterOptionDiv .dropDown .dropDownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}
.App .appBody .filterOptionDiv .dropDown .dropDownItem:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
.App .appBody .filterOptionDiv .dropDown .dropDownItem:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}
.App .darkElements {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 5px 10px 1px rgba(32, 32, 32, 0.3019607843);
  border-radius: 0.3rem;
}
.App .darkElements .dropDownItem:hover {
  background-color: #516a80;
}
.App .lightElements {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 5px 10px 1px rgba(32, 32, 32, 0.1098039216);
  border-radius: 0.3rem;
}
.App .lightElements .dropDownItem:hover {
  background-color: #cccccc;
}
.App .dummyFlag {
  opacity: 0.6;
  -webkit-animation-name: dummyFlagAnime;
          animation-name: dummyFlagAnime;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.appearIn {
  -webkit-animation-name: appearIn;
          animation-name: appearIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.appearUp {
  -webkit-animation-name: appearUp;
          animation-name: appearUp;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slideDown {
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slideBehind {
  -webkit-animation-name: slideBehind;
          animation-name: slideBehind;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideFront {
  -webkit-animation-name: slideFront;
          animation-name: slideFront;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.darkApp {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(207deg, 26%, 17%);
}

.lightApp {
  color: hsl(200deg, 15%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}

@-webkit-keyframes dummyFlagAnime {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes dummyFlagAnime {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideBehind {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}
@keyframes slideBehind {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}
@-webkit-keyframes slideFront {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideFront {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */