@import 'flexbox';
@import 'breakpoints';

.App{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @include flexbox(column, '', '');
    font-size: 14px;
    .navbar, .appBody, .detailPage{
        padding: 2rem 5rem;
        @include md-lg-screen{
            padding: 2rem 4rem;
        }
        @include sm-md-screen{
            padding: 1rem 2rem;
        }
        @include sm-below-screen{
            padding: 1rem 1rem;
        }
    }
    .navbar{
        height: 10vh;
        @include flexbox('', center, space-between);
        // box-shadow: 0px 0px 10px #2020201c;

        h1{
            @include sm-md-screen{
                font-size: 24px;
            }
            @include sm-below-screen{
                font-size: 18px;
            }
        }
        .themeButton{
            @include flexbox('', center, '');
            cursor: pointer;
            // height: 10vh;
            padding: 1rem 1rem;
            border-radius: 0.3rem;
            span{
                margin-left: 8px;
            }
            &:hover{
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
            }
        }
    }

    .appBody{
        @include flexbox(column, '', '');
        height: 90vh;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        .menu{
            opacity: 0;
            width: 100%;
            margin-top: 2rem;
            @include flexbox('', center, space-between);
            @include md-below-screen{
                @include flexbox(column, center, '')
            }

            .searchBox, .filter{
                padding: 1rem 2rem;
            }
            .searchBox{
                width: 500px;
                @include md-lg-screen{
                    width: 350px;
                }
                @include md-below-screen{
                    width: 100%;
                    margin-bottom: 1rem
                }
                @include flexbox('', center, '');
                input{
                    flex: 1;
                    margin-left: 8px;
                    color: inherit;
                }
                .searchLoad, .searchIcon{
                    position: relative;
                    width: 1rem;
                    height: 1rem;
                }
                .searchLoad{
                    svg{
                        animation-name: rotateIcon;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

            }

            .filter{
                width: 200px;
                @include md-below-screen{
                    width: 100%;
                    margin-bottom: 1rem
                }
                @include flexbox('', center, space-between);
                cursor: pointer;
                position: relative;

            }
        }
        .flags{
            // opacity: 0;
            display: grid;
            overflow-y: auto;
            flex: 1;
            overflow-x: hidden;
            @include lg-xl-screen{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                gap: 3rem 2rem;
            }
            @include md-lg-screen{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                gap: 2rem 1rem;
            }
            @include sm-md-screen{
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                gap: 3rem 2rem;
            }
            @include xl-above-screen{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                gap: 4rem 5rem;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1370px){
                column-gap: 2rem;
            }
            @include sm-below-screen{
                @include flexbox(column, center, '')
            }
            grid-auto-flow: row;
            margin-top: 2rem;
            box-sizing: border-box;
            .flag{
                @include flexbox(column, flex-start, '');
                min-width: 200px;
                max-width: 300px;
                opacity: 0;
                padding-bottom: 2rem;
                // animation-name: slideFront;
                // animation-duration: 500ms;
                &:hover, &:active{
                    cursor: pointer;
                }
                @include sm-below-screen{
                    min-width: 90vw;
                    max-width: 90vw;
                    margin-bottom: 1rem;
                }
                img, .dummyImg{
                    width: 100%;
                    height: 210px;
                    @include lg-xl-screen{
                        height: 175px;
                    }
                    @include md-lg-screen{
                        height: 150px;
                    }
                    border-radius: 0.3rem 0.3rem 0 0;
                    object-fit: fill;
                }
                .flagName{
                    font-weight: 700;
                    font-size: 1.1rem;
                    margin: 1rem 1rem;
                }
                .flagData{
                    margin: 0 1rem 0.5rem 1rem;
                    .flagDataInfo{
                        font-weight: lighter;
                    }
                }
            }
        }
        .detailPage{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            opacity: 0;
            animation-name: slideFront;
            animation-duration: 500ms;
            // animation-delay: 1s;
            animation-fill-mode: forwards;
            .detailPageButton{
                cursor: pointer;
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
                // height: 10vh;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
            }
            .detailPageMenu{
                @include flexbox('', '', flex-start);
                div{
                    @include flexbox('', center, '');
                    margin-bottom: 4rem;
                    @include md-lg-screen{
                        margin-bottom: 4rem;
                    }
                    @include sm-md-screen{
                        margin-bottom: 2rem;
                    }
                    @include sm-below-screen{
                        margin-bottom: 2rem;
                    }
                    span{
                        margin-left: 8px;
                    }
                }
            }
            .detailPageContent{
                width: 100%;
                img{
                    width: 100%;
                    max-width: 550px;
                    display: block;
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
                }   
                @include lg-above-screen{
                    @include flexbox('', center, space-between);
                    img{
                        max-width: 50%
                    }
                    .countryDetails{
                        width: 50%;
                    }
                }
                @include lg-below-screen{
                    @include flexbox(column, center, '');
                    img{
                        width: 100%
                    }
                    .countryDetails{
                        width: 100%;
                    }
                }
                .countryDetails{
                    @include flexbox(column, flex-start, space-between);
                    max-width: 550px;
                    @include lg-above-screen{
                        max-width: 45%;
                    }
                    @include md-above-screen{
                        height: 350px;
                    }
                    .countryDetails-main{
                        @include md-above-screen{ 
                            @include flexbox('', center, space-between);
                        }
                        @include md-below-screen{ 
                            @include flexbox(column, center, '');
                        }
                    }
                    padding: 1rem;
                    .countryDetails-main, .bordersDiv{
                        line-height: 200%;
                        width: 100%;
                        @include xl-above-screen{
                            width: 80%;
                        }
                        @include flexbox('', flex-start, space-between);
                        .countryDetails-a, .countryDetails-b{
                            @include flexbox(column, flex-start, '');
                            @include md-below-screen{
                                margin-bottom: 1rem;
                            }
                            .detailKey{
                                margin-right: 4px;
                            }
                            .detailValue{
                                font-weight: lighter;
                            }
                        }
                    }
                    .bordersDiv{
                        @include flexbox('', center, flex-start);
                        flex-wrap: wrap;
                        @include lg-below-screen{
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .detailKey{
                            margin-right: 8px;
                        }
                        margin-top: 1rem;
                        .borderButtonsDiv{
                            font-size: 10px;
                            @include flexbox('', '', '');
                            flex-wrap: wrap;
                            .borderButton{
                                padding: 0.5rem;
                                min-width: 80px;
                                max-height: 30px;
                                @include flexbox('', center, center);
                                margin: 4px;
                            }
                        }
                    }
                }
            }
        }
        .filterOptionDiv{
            // background-color: rgba(255, 0, 0, 0.151);
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            .dropDown{
                width: 200px;
                position: absolute;
                top: 5.5rem;
                right: 5rem;
                @include md-lg-screen{
                    right: 4rem;
                }
                @include sm-md-screen{
                    right: 2rem;
                    left: 2rem;
                    width: auto;
                    top: calc(10vh + 2rem + 1rem + 1rem + 0.5rem);
                }
                @include sm-below-screen{
                    right: 1rem;
                    left: 1rem;
                    width: auto;
                    top: calc(10vh + 2rem + 1rem + 1rem + 0.5rem);
                }
                @include flexbox(column, flex-start, '');
                .dropDownItem{
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    width: 100%;
                    &:first-child{
                        border-radius: 0.3rem 0.3rem 0 0;
                    }
                    &:last-child{
                        border-radius: 0 0 0.3rem 0.3rem;
                    }
                }
            }
        }
    }
    .darkElements{
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0px 5px 10px 1px #2020204d;
        border-radius: 0.3rem;

        .dropDownItem{
            &:hover{
                background-color: #516a80;
            }
        }
    }
    .lightElements{
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0px 5px 10px 1px #2020201c;
        border-radius: 0.3rem;

        .dropDownItem{
            &:hover{
                background-color: #cccccc;
            }
        }
    }
    .dummyFlag{
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        opacity: 0.6;
        animation-name: dummyFlagAnime;
        animation-duration: 2000ms;
        animation-timing-function:ease;
        animation-iteration-count: infinite;
    }
}
// animations
.appearIn{
    animation-name: appearIn; 
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.appearUp{
    animation-name: appearUp; 
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.slideDown{
    animation-name: slideDown; 
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.slideBehind{
    animation-name: slideBehind;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.slideFront{
    animation-name: slideFront;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.fadeOut{
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.darkApp{
    color: hsl(0, 0%, 100%);
    background-color: hsl(207, 26%, 17%);
}
.lightApp{
    color:  hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
}

@keyframes dummyFlagAnime {
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}

@keyframes appearUp {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-10%);
    }
    // 50%{
    //     opacity: 0.1;
    // }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes appearIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideBehind {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        transform: translateX(10%);
    }
}
@keyframes slideFront {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes rotateIcon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}