.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: "";
  justify-content: "";
  font-size: 14px;
}
.App .navbar, .App .appBody {
  padding: 3rem 5rem;
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .navbar, .App .appBody {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .navbar, .App .appBody {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .App .navbar, .App .appBody {
    padding: 1rem 1rem;
  }
}
.App .navbar {
  height: 10vh;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .App .navbar h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .App .navbar h1 {
    font-size: 18px;
  }
}
.App .navbar .themeButton {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: "";
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
}
.App .navbar .themeButton span {
  margin-left: 8px;
}
.App .navbar .themeButton:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.219);
}
.App .appBody .menu {
  width: 100%;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: "";
  }
}
.App .appBody .menu .searchBox, .App .appBody .menu .filter {
  padding: 1rem 2rem;
}
.App .appBody .menu .searchBox {
  width: 500px;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: "";
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .App .appBody .menu .searchBox {
    width: 350px;
  }
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu .searchBox {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.App .appBody .menu .searchBox input {
  flex: 1;
  margin-left: 8px;
  color: inherit;
}
.App .appBody .menu .filter {
  width: 200px;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 720px) {
  .App .appBody .menu .filter {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.App .appBody .menu .filter .dropDown {
  width: 100%;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: "";
}
.App .appBody .menu .filter .dropDown .dropDownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}
.App .appBody .menu .filter .dropDown .dropDownItem:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
.App .appBody .menu .filter .dropDown .dropDownItem:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}
.App .darkElements {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 5px 10px 1px rgba(32, 32, 32, 0.3019607843);
  border-radius: 0.3rem;
}
.App .darkElements .dropDownItem:hover {
  background-color: #516a80;
}
.App .lightElements {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 5px 10px 1px rgba(32, 32, 32, 0.1098039216);
  border-radius: 0.3rem;
}
.App .lightElements .dropDownItem:hover {
  background-color: #cccccc;
}

.darkApp {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(207deg, 26%, 17%);
}

.lightApp {
  color: hsl(200deg, 15%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}/*# sourceMappingURL=App.css.map */